asgiref==3.8.1
black==25.1.0
click==8.1.8
Django==5.1.6
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
sqlparse==0.5.3
cffi==1.16.0
cryptography==42.0.7
django-cors-headers==4.3.1
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.3
django-phonenumber-field==7.3.0
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
MarkupSafe==2.1.5
mypy-extensions==1.0.0
nh3==0.2.18
phonenumbers==8.13.36
pillow==10.3.0
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.8.0
pyOpenSSL==24.1.0
pytz==2024.1
Werkzeug==3.0.3